.navigation {
    float:right;
    width: 20px;
    margin-right: 25px;
}

.circle {
	width: 15px;
	height: 15px;
        margin-top: 5px;
        border: 2px solid white;
        background: white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.circleGrey {
    width: 15px;
	height: 15px;
        margin-top: 5px;
        border: 2px solid lightgrey;
        background: lightgrey;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.fill {
    background: lightblue;
}
#mc_embed_signup input.mce_inline_error {
    border: 3px solid red;
}

.samarbeidsp-wrapper {
width: 100%;
}

.samarbeidsp-wrapper img {
    width: 13%;
    height: auto;
    margin-left:5%;
    margin-top: 3%;
}

#bildegalleripartner {
    height: 200px;
}
#mobileonly {
    display: none;
}
.modal {
    top: 10%;
    left: 10%;
}
#mob {
    display: none;
}

#venstrepil, #hoyrepil {
    height: 100%;
    position: relative;
    margin-top: 28%;
}
#venstrepil img, #hoyrepil img {
    height: 70px;
}
#bildegalleriwrapper {
    max-height: 73%;
    width: 85%;
    overflow: hidden;
    margin: auto;
}

#bildegalleri {
     max-width: 100%;
}

.wrapper {
    width: 50%;
    margin: auto;
    height: auto;
    overflow: hidden;
}
.m-venstre {
    margin-left: 15%;
}

.heltekst {
    width: 60%;
    margin: auto;
}
.m-hoyre {
    margin-right: 10%;
}
.halvtekst {
    width: 35%;
    height: auto;
}

.venstre-tekst {
    text-align: left !important;
}
.halv {
    width:80%;
    height: auto;
}
.halvbilde {
    width: 38%;
    margin-left: 3%;
    height: auto;
}

.miniseksjon {
    margin-top: 50px;
}
/* BUNN OG OPP PLASSERING START*/
.n0 {
    width: 50%;
    margin: auto;
}
.n1,.n2, .n7 {
    width: 100%;  
    text-align: center;
}


.n8, .n3, .n4,.n5,.n6 {
    width: 100%;
}

.midtskille {
    width: 100%;
    top: 0px;
    border: 1px solid black;
    position: absolute;
    opacity: 0.7;
    display: none;
}

.clickme::on-hover {
    background-color: #AAB2BD;
}
.boks-wrapper {
   border: 5px solid #373737;
   width: 100%;
   min-width: 300px;
   height: auto;
   padding: 5px;
   text-align: center;
   background: white;
}

.img-standard {
    width: 452px;
}

.boks-wrapper img {
    max-width: 150px;
    margin: auto;
}
/* Modal Bokser SLUTT */ 
.main-wrapper {
    width: 100%;
}

.midtstillt-tekst {
    text-align: center;
    
}
.seksjon {
    height: 20em;
    border: 1px solid black;
}
.hvit-tekst {
    color: white;
}
p.hoyre-tekst {
  text-align:left;
}

.alt {
    display: block;
    position: absolute; 
}


.knapp {
    font-size: 24pt;
}



header {
    width: 100%;
}

.topp {
   /* top: 0px;*/
   width: 100%;
    position: absolute; 
}

.absolute {
    position: absolute;
}
#svgFile {
    position: relative;
}

.midtstillt {
    margin: auto;
    border: 1px solid black;
}
.atti {
    width: 80%;
    margin: auto;
}
.venstre {
    float:left;
}

.hoyre {
    float: right;
}
.finndintur  {
    width: 250px;
    font-size: 18pt;
    display: block;
}

.bla {
    background: #192531;
}
.nytt-input {
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 35%;
    min-width: 300px;
    padding: 7px 9px;
    border-radius: 3px;
    border: solid 1px #003d5a;
    color: #003d5a;
}

.nytt-input-send {
    color: white;
    border: none;
    height: 45px;
    border-radius: 3px;
    min-width: 200px;
    width: 20%;
}
.guida-input {
    background: transparent;
    width: 90%;
    padding: 7px 9px;
    background: transparent;
    border-radius: 3px;
    border: solid 1px #003d5a;
    color: #003d5a;
}

.input-width1 {
    width: 12em;
}
.input-width2 {
    width: 100%;
}
.transparent-input {
     background: transparent;
    padding: 7px 9px;
    background: transparent;
    border-radius: 3px;
    border: solid 1px white;
    color: white;
}

.fottekst {
    width: 50%;
    margin-left: 15%;
    margin-top: 10%;
    
}

.n8 input {
    margin-left: 32%;
    min-width: 200px;
    
    font-size: 16pt;
}
/*
Hyttenavn illustrasjon: Neo Sans Std - Regular - 24 pkt X
Brødtekst: Neo Sans Std - Regular - 18 pkt/25 pkt X


Knapp: Neo Sans Std - Regular - TT - 24 pkt
Tittel mellom hytter (mobilside): Neo Sans Std - Regular - TT - 24 pkt

Tittel: Neo Sans Std - Light - 50 pkt

Mellomtittel: Neo Sans Std - Bold - 20 pkt/25 pkt


*/
