<div class="boks-wrapper">
       <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>FJELL OG FRITID</h2>
    Fjell og fritid er ein fullsortiment sportsbutikk med fokus på fjell og friluftsutstyr. Butikken ligg midt i smørauget i Lom med det kjente Bakeriet i Lom som nærmaste nabo.
Vi har fleire års erfaring med å rettleia deg til val av klede, sko og anna utstyr. Vi satsar på kjende og gode merkevarer som er kjent for å sette kvalitet i høgsete. Her vil finne merker som ikkje er å oppdrive i alle andre sportsbutikkar.
Fjell og fritid har eigen skoavdeling med alt frå fjellsko til løpesko og fritidssko.
Kom gjerne og besøk oss for å sjå på vårt utval og kanskje har vi noko som fristar.

    <br/>Telefon: +47 61 21 17 99<br/>
    post@fjellogfritid.no<br/>
    <a href="http://fjellogfritid.no/" target="_blank">http://fjellogfritid.no/ </a><br/>
    
    <img src="logoer/fjellogfritid.png">
</div>