<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>FOSSHEIM HOTELL</h2>
    Tlf. +47 61 21 95 00<br/>
    Overnatting frå 650,- pr person (dobbeltrom)<br/>
    Sesong: 01.02 – 17.12<br/>
    
    resepsjon@fossheimhotel.no<br/>
    <a href="http://fossheimhotel.no" target="_blank">www.fossheimhotel.no</a><br/>
    
    <img src="logoer/fossheim.jpg">
</div>