<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>FOSSBERG HOTELL</h2>
    Tlf. +47 61 21 22 50<br/>
    Overnatting frå 750,- <br/>
    Sesong: 3. januar – 22. desember<br/>
    
    booking@fossberg.no<br/>
    <a href="http://fossberg.no" target="_blank">www.fossberg.no</a><br/>
    
    <img src="logoer/fossberg.png" width="190">
</div>