<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>GJENDESHEIM TURISTHYTTE</h2>
    Tlf. +47 61 23 89 10<br/>
    Overnatting frå 755 pr. person inkludert middag, frokost og matpakke.<br/>
    Sesong: 18.02 – 1.05<br/>
    
    gjendesheim@dnt.no<br/>
    <a href="http://gjendesheim.no" target="_blank">www.gjendesheim.no</a><br/>
    
    <img src="logoer/gjendeseim.jpg" width="130">
</div>