<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>Glitterheim</h2>
    Tlf. +47 61 23 18 33<br/> 
    Mob. +47 900 15 529 <br/>
         +47 994 25 915 <br/>
    Overnatting frå 187,- (DNT-medlem). 250,- (Ikke DNT-medlem)<br/>
    Sesong: 24.03 – 23.04.<br/>
    
    gl-heim@online.no<br/>
    <a href="http://glitterheim.dnt.no" target="_blank">www.glitterheim.dnt.no</a><br/>
    
    <img src="logoer/glitterheim.jpg">
</div>