<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>Høgruta i Jotunheimen</h2>
    Jotunheimen Haute Route er ein 5 dagars topptur i hjartet Jotunheimen nasjonalpark. Ruta går over minst åtte brear og sju 2000-metertoppar, inkludert Glittertind og Galdhøpiggen. Overnatting skjer på betjente hytter. Kvar etappe er ca 15 km, med 1000 – 1500 meter stigning.
    
    <br/><a href="http://visitjotunheimen.no/program/" target="_blank">Guiding</a><br/>
    <a href="http://www.jotunheimenhauteroute.no/" target="_blank">www.jotunheimenhauteroute.no/</a><br/>
    
    <img src="logoer/Haute.jpg">
</div>