<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
     <h2>Informasjon</h2>
     <a href="http://visitjotunheimen.no/program/" target="_blank">Program</a><br/>
     <a href="http://visitjotunheimen.no/turbeskrivelser/" target="_blank">Turbeskrivingar</a><br/>
</div>