<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>JOTUNHEIMEN FJELLSTUE</h2>
    Tlf. +47 61 21 29 18<br/>
    Overnatting frå 795,- pr pers. (dobbeltrom)<br/>
    Sesong: Ope i helger og langhelger* frå 28. april. <br/>
    *pinse og 17.mai)<br/>
    
    resepsjon@fossheimhotel.no<br/>
    <a href="http://jotunheimen-fjellstue.no" target="_blank">www.jotunheimen-fjellstue.no</a><br/>
    
    <img src="logoer/jotunheimenfjellstue.gif">
</div>