<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>JUVASSHYTTA</h2>
    Tlf. +47 61 21 15 50<br/>
    Overnatting frå 440,-<br/>
    Sesong: frå 16. mai og resten av helgene i mai. <br/>
    
    post@juvasshytta.no<br/>
    <a href="http://juvasshytta.no" target="_blank">www.juvasshytta.no</a><br/>
    
    <img src="logoer/juvasshytta.png" width="150">
</div>