<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>KROSSBU</h2>
    Tlf. +47 61 21 29 22  |  Mob. +47 91 36 38 55<br/>
    Overnatting frå 320,- (overnatting med frukost)<br/>
    Sesong: 07.04 – 30.09, med høve for fyrste veka i oktober ved bestilling seinast 1. august.<br/>

    
    vole@krossbu.no<br/>
    <a href="http://krossbu.no" target="_blank"> www.krossbu.no</a><br/>
    
    <img src="logoer/krossbu.png">
</div>