<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>LEIRVASSBU</h2>
    Tlf. +47 61 21 12 10<br/>
    Overnatting frå 395,- pr pers. (overnatting og frukost)<br/>
    Vinter/vårsesong: 30. mars – 01. mai<br/>
    Sommarsesong: 23. juni – 18. september<br/>
    leirvassbu@topofnorway.no<br/>
    <a href="http://leirvassbu.no" target="_blank">www.leirvassbu.no</a><br/>
    <img src="logoer/Leirvassbu.png">
</div>