<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>LOM</h2>
<i>Lom</i> er ei fjellbygd i Oppland med ca. 2350 innbyggarar og heile tre nasjonalparkar,
Jotunheimen, Breheimen og Reinheimen. Over 90% av kommuna sitt areal ligg på over 900
moh.  Og vi kan freiste med dei to høgste fjella i Noreg: Galdhøpiggen og Glittertind.
<br/><br/>

<i>Bygda </i>utgjer eit krysningspunkt mellom aust og vest og på under to timar (sommarstid) kan
du forflytte deg frå høgfjellet i Jotunheimen til verdas lengste fjord, Sognefjorden.
<br/><br/>
<i>Lom sentrum</i>, Fossbergje, er ein av fem tettstadar i Noreg som har status som
nasjonalparklandsby, og er ein naturleg innfallsport til nasjonalparkane Jotunheimen,
Breheimen og Reinheimen.<br/><br/>

<i>Nasjonalparklandsbyen</i> ligg flott til under mektige Lomseggen. Midt i sentrum renn elva
Bøvra kvit og vill utfor Prestfossen. Namnet Fossbergje kjem av berga som stikk fram attmed
fossen. Her har bygdasenteret vakse fram på båe sider av elva. Fyrste private aktiviteten i
området var eit kvernbruk rundt 1770, fyrste landhandelen kom i 1870 der Kiwi held til i dag.
</div>