<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>MEMURBU</h2>
    Tlf. +47 460 16 200<br/>
    Overnatting frå: 200,- pr pers. (overnatting uten mat) 850,- pr pers. (overnatting og mat).<br/>
    Sesong: 30.03 – 17.04 <br/>
    
    post@memurubu.no<br/>
    <a href="http://memurubu.no" target="_blank">www.memurubu.no</a><br/>
    
    <img src="logoer/memurbu.png" width="80">
</div>