<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>NORDAL TURISTSENTER</h2>
    Tlf. +47 61 21 93 00<br/>
    Overnatting frå: Hytter frå 130,- pr pers. <br/>
    Hotellrom frå kr. 675,- pr pers i dobbeltrom.<br/>
    Sesong: 07.04 – 01.10<br/>
    
    booking@nordalturistsenter.no<br/>
    <a href="http://nordalturistsenter.no" target="_blank">www.nordalturistsenter.no</a><br/>
    
    <img src="logoer/Nordal.png" width="110">
</div>