<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>RAUBERGSTULEN</h2>
    Tlf. +47 61 21 18 00<br/>
    Overnatting frå: 250,- pr pers. (hytte)<br/>
    Sesong: medio mai – utover.<br/>
    
    post@raubergstulen.no<br/>
    <a href="http://raubergstulen.no" target="_blank">www.raubergstulen.no</a><br/>
        <img src="logoer/raubergstulen.png" width="70">
    
</div>