<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <a href="http://visitjotunheimen.no/turbeskrivelser/" target="_blank">Turbeskrivingar</a><br/>
    <a href="http://xn--hgrutajotunheimen-00b.no/" target="_blank">Høgruta</a><br/>
    <a href="http://visitjotunheimen.no/program/" target="_blank">Guida turar</a><br/>
</div>