<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>RØISHEIM</h2>
    Tlf. +47 61 21 20 31<br/>
    Mob. +47 905 50 633<br/>
    Overnatting frå: 975,-<br/>
    Sesong: 28.04 – 01.10<br/>
    
    post@roisheim.no<br/>
    <a href="http://roisheim.no" target="_blank">www.roisheim.no</a><br/>
    
    <img src="logoer/roisheim.png" width="130">
</div>