<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>SOGNEFJELLSHYTTA</h2>
    Tlf. +47 61 21 29 34<br/>
    Overnatting frå 350,-<br/>
    Sesong: påska – midt i september.<br/>
    
    post@sognefjellet.no<br/>
    <a href="http://sognefjellet.no" target="_blank">www.sognefjellet.no</a><br/>
    
    <img src="logoer/sognefjellshytta.png" width="170">
</div>