<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>SPITERSTULEN</h2>
    Tlf. +47 61 21 94 00<br/>
    Overnatting frå 450,-<br/>
    Vintersesong: 1. mars – 1. mai<br/>
    Sommarsesong: 1. juni – ca. 10. oktober<br/>
    
    post@spiterstulen.no<br/>
    <a href="http://spiterstulen.no" target="_blank">www.spiterstulen.no</a><br/>
    
    <img src="logoer/spiterstulen.png" width="120">
</div>