<div class="boks-wrapper">
    <div onclick="$('#myModal').modal('hide');" style="float:right;">X</div>
    <h2>Turbeskrivingar frå Hurrungane</h2>
    <a href="http://visitjotunheimen.no/turbeskrivelser/" target="_blank">Les meir her</a>
</div>